* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: auto;
    height: auto;
    margin-left: 150px;
    margin-right: 150px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px 0px;
}

.navi ul {
    display: flex;
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 15px;
}

.navi ul li {
    padding: 10px 12px 10px 12px;
}

.btn1 {
    background-color: blue;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px 13px 5px 13px;
}

.banner {
    background-image: url(../image/hero-bg.jpg);
    position: relative;
    z-index: 1;
}
.bnrblur{
    position: absolute;
    width: 100%;
    height: 642px;
    background-color: #fff;
    content: "";
    z-index: -1;
    opacity: 0.8;
}

.bnr1 {
    display: flex;
    
    justify-content: space-between;
}

.icon1 {
    font-size: 100px;
    color: darkblue;
    padding: 65px 0px 0px 50px;
}

.blist {
    display: flex;
    justify-content: space-evenly;
}

.bcontent {
    text-align: center;
    
    margin: 83px 375px 35px 0px;
}

.bcontent h1 {
    font-size: 40px;
    color: darkblue;
    margin-bottom: 10px;
}

.btn2 {
    background-color: blue;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
    margin-top: 15px;
}
.blist1{
    background-color:#fff;
    background-color: #fff;
    padding: 40px 35px 40px 15px;
    margin: 75px 7px 40px 7px;
    line-height: 26px;
    box-shadow: 0px 0px 10px -4px;
}

.blist1 i{
    font-size: 37px;
    color: dodgerblue;
}
.blist1 h3{
    margin-top: 10px;
    color: dodgerblue;
}
.blist1 p{
    font-size: 15px;
}
.ahead{
    text-align: center;
}
.ahead h1{
    color: darkblue;
    margin: 40px 0px 15px 0px;
}
.about-content{
    margin: 40px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
}
.about-content1{
    width: 50%;
}
.about-content1 i{
    color: dodgerblue;
    padding-right: 5px;
}
.apara2{
    line-height: 30px;
    margin-top: 12px;
}
.about-content2{
    width: 50%;
}
.aboutbtn{
    border-radius: 5px;
    background: #fff;
    border-color: dodgerblue;
    padding: 5px 12px;
    margin-top: 23px;
    color: dodgerblue;
}
.achivements{
    background-color: rgb(205, 221, 226);
    padding: 40px 0px;
    text-align: center;
}
.achivements h1{
    font-size: 45px;
    margin-bottom: 10px;
    color: darkblue;
}
.achivements p{
    color: darkslateblue;
}
.achiveflex{
    display: flex;
    justify-content: space-evenly;
}
.review{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.reviewflex{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    justify-content: space-between;
}
.reviewimg{
    width: 50%;
    height: auto;
    padding: 0px 5px 0px 25px;
    box-sizing: border-box;
}

.reimg img{
    width: 100%;
    height: auto;
}
.reviewcontent{
    width: 50%;
    padding-left: 10px;
}
.reviewcontent h2{
    margin-bottom: 10px;
    color: darkblue;
}
.reviewcontent p{
    margin-bottom: 10px;
}
.reviewcontent i{
    padding-right: 5px;
    color: rgb(107, 183, 208);
}
.rp{
margin-top: 25px; 
}
.brand{
    background-color: powderblue;
    padding: 40px 0px 18px 0px;
}
.brandflex{
    display: flex;
    justify-content: space-between;
}
.clint1 img{
    width: 50%;
    height: auto;
    filter:grayscale(1);
}
.testhead {
    text-align: center;
}
.testhead h1{
    color: darkblue;
    margin: 50px 0px 20px 0px;
    font-size: 30px;
}
.testflex{
    display: flex;
    justify-content: space-between;
}
.tlist1{
    width: 33%;
    margin: 10px;
    text-align: center;
}
.tlist1 p{
    background-color: rgb(233, 243, 246);
    padding: 25px 5px;
    margin: 30px 10px 10px 10px;
}
.tlist1 img{
    width: 35%;
    border-radius: 50%;
    margin: 10px 85px;
}
.tlist1 i{
    color: rgb(166, 215, 239);
}
.tlist1 h6{
    color: rgb(200, 200, 236);
}
.cflex{
    display: flex;
    justify-content: center;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 1px lightblue;
    margin: 45px 3px;
}
.circle1{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* border: solid 1px lightblue; */
    background-color: rgb(111, 154, 204);
    margin: 45px 3px;
}
.services{
    background-color: rgb(233, 243, 246);
    padding-bottom: 60px;
}
.servicehead{
    text-align: center;
    padding-top: 50px;
}
.servicehead h1{
    margin-bottom: 15px;
    color: navy;
}
.serflex{
    display: flex;
    justify-content: space-between;
}
.serlist-1{
    width: 32%;
    padding: 45px 10px 45px 10px;
    background-color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px -5px;

}
.serlist-1 i{
    font-size: 35px;
    padding: 20px;
    background-color: rgb(232, 232, 232);
    /* margin-bottom: 13px; */
    border-radius: 50%;
}
.serlist-1 h3{
    padding: 30px 0px 0px 0px;
    color: darkblue;
}
.icofont-basketball ,.icofont-building{
    color: rgb(105, 105, 184);
}
.icofont-notepad{
    color: rgb(236, 192, 111);
}
.icofont-speed-meter{
    color: rgb(200, 109, 109);
}
.icofont-layers{
    color: rgb(236, 192, 111);
}
.icofont-cassette-player{
    color: rgb(200, 109, 109);
}
.action{
    background-color: rgb(135, 201, 223);
}
.actioncontent{
    text-align: center;
    padding: 40px 0px;
    /* background-color: black; */
    color: #fff;
}
.actioncontent h1{
    padding-bottom: 10px;
}
.cbtn{
    background-color: rgb(135, 201, 223);
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    margin-top: 10px;
}